body {
    background-color: whitesmoke;
    color: #333;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: Arial, sans-serif;
}

.calculator {
    width: 300px;
    margin: 50px auto;
    padding: 24px;
    background-color: black;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding-top: 60px;
}

.btn {
    width: 60px;
    height: 60px;
    margin: 5px;
    font-size: 20px;
    border: none;
    border-radius: 50px;
    background-color: grey;
    color: #fff;
    cursor: pointer;
}

.display {
    width: 100%;
    height: 60px;
    font-size: 40px;
    text-align: center;
    padding: 10px;
    border-radius: 20px;
    box-sizing: border-box;
    background-color: rgb(80, 76, 76);
    color: #fff;
    border: none;
}

.btn-ac {
    background-color: rgb(195, 189, 189);
    color: black;
}

.operation {
    background-color: orange;
}

.btn-zero {
    border-radius: 35px;
    text-align: center;
    border: none;
    width: 130px;
    height: 60px;
}
